.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none; /* デフォルトのブラウザスタイル（特にフォーム要素の見た目）をリセット */
  border-radius: 128px; /* 要素の角を丸くする。128pxの大きな値を指定しているため、完全に丸みを帯びた形状になる */
  height: 48px; /* 要素の高さを48pxに設定 */
  padding: 0 20px; /* 内側の余白を設定。上下は0、左右は20pxの余白を追加 */
  cursor: pointer; /* カーソルをポインタ（クリック可能な状態）に変更 */
  display: flex; /* フレックスボックスを使用して子要素を配置 */
  align-items: center; /* 子要素を垂直方向の中央に揃える */
  justify-content: center; /* 子要素を水平方向の中央に揃える */
  font-size: 16px; /* フォントサイズを16pxに設定 */
  line-height: 20px; /* テキスト行の高さを20pxに設定 */
  font-weight: 500; /* フォントの太さを500（中程度の太さ）に設定 */
  background-color: #ffffff; /* 背景を白にして見やすくする */
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
  border: none;
  border: 2px solid #c6c6c6;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.secondary:hover {
  color: #0070f3; /* ホバー時の文字色を青に設定 */
  border-color: #0070f3; /* ホバー時の枠線を青に設定 */
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
