.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
  border: none;
  border: 2px solid #c6c6c6;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.secondary:hover {
  color: #0070f3; /* ホバー時の文字色を青に設定 */
  border-color: #0070f3; /* ホバー時の枠線を青に設定 */
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
